section.ach-setup form.settings-from p.customer-status,
section.ach-setup form.settings-from p.wl-contact {
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 1em;
}

section.ach-setup form.settings-from p.customer-status {
    text-transform: capitalize;
}

section.ach-setup form.settings-from div.label-wrapper:not(:last-of-type) {
    margin-bottom: 10px;
}

section.ach-setup form.settings-from div.label-wrapper span.label-name,
section.ach-setup form.settings-from div.label-wrapper input {
    float: none;
}

section.investor-settings-container form.settings-from div.container-bottom div.button-wrapper button {
    margin: 0;
    padding-bottom: 9px;
}

section.investor-settings-container form.settings-from div.container-bottom div.button-wrapper button:focus {
    outline: 0;
}

section.funding-sources,
section.bank-accounts {
    min-height: 1px;
}

section.investor-settings-container .container-header {
    float: none;
    padding: 1em 0;
    height: auto;
}

section.investor-settings-container form.settings-from div.container-body,
section.investor-settings-container form.settings-from div.container-bottom {
    float: none;
}

section.investor-settings-container form.settings-from div.container-bottom {
    padding: 1em 0;
    height: auto;
}

section.funding-sources div.container-body {
    padding: 0 0 1em;
}

section.bank-accounts div.container-body {
    padding: 1em 0;
}

section.bank-accounts div.container-bottom {
    border-top: 1px solid #e1dddd;
    padding: 1em 0;
}

section.investor-settings-container div.container-bottom .r-side > .btn {
    margin: 0;
}

section.investor-settings-container div.container-bottom .r-side > .btn:not(:last-child) {
    margin-right: 10px;
}

section.investor-settings-container div.container-bottom .r-side > .btn:focus {
    outline: 0;
}

section.investor-settings-container div.container-bottom .r-side > .btn a {
    padding-bottom: 9px;
}

section.investor-settings-container div.container-bottom .r-side > .btn a:focus {
    color: #fff;
}

section.funding-sources div.container-body p {
    line-height: 23px;
    margin-bottom: 1em;
}

section.funding-sources table.funding-sources-table th.col-1,
section.funding-sources table.funding-sources-table th.col-2,
section.funding-sources table.funding-sources-table td.col-1,
section.funding-sources table.funding-sources-table td.col-2 {
    width: 36%;
}

section.bank-accounts table.bank-accounts-table th.col-1,
section.bank-accounts table.bank-accounts-table th.col-2,
section.bank-accounts table.bank-accounts-table td.col-1,
section.bank-accounts table.bank-accounts-table td.col-2 {
    width: 36%;
}

section.funding-sources table.funding-sources-table th.col-3,
section.funding-sources table.funding-sources-table td.col-3 {
    width: 16%;
}

section.bank-accounts table.bank-accounts-table th.col-3,
section.bank-accounts table.bank-accounts-table td.col-3 {
    width: 16%;
}

section.funding-sources table.funding-sources-table th.col-4,
section.bank-accounts table.bank-accounts-table th.col-4 {
    width: 12%;
}

section.funding-sources table.funding-sources-table td.col-1,
section.funding-sources table.funding-sources-table td.col-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

section.bank-accounts table.bank-accounts-table td.col-1,
section.bank-accounts table.bank-accounts-table td.col-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

section.funding-sources table.funding-sources-table td.col-3,
section.bank-accounts table.bank-accounts-table td.col-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
}

section.funding-sources table.funding-sources-table td.col-4 {
    width: 12%;
    text-align: center;
    padding: 5px 0;
}

section.bank-accounts table.bank-accounts-table td.col-4,
section.bank-accounts table.bank-accounts-table td.col-5 {
    width: 6%;
    text-align: center;
    padding: 5px 0;
}

section.funding-sources table.funding-sources-table .thead,
section.bank-accounts table.bank-accounts-table .thead {
    border-top: 1px solid #e1dddd;
    border-bottom: 1px solid #e1dddd;
    padding: 0;
}

section.funding-sources table.funding-sources-table .tbody tr:not(:last-child),
section.bank-accounts table.bank-accounts-table .tbody tr:not(:last-child) {
    border-bottom: 1px solid #e1dddd;
}

section.funding-sources table.funding-sources-table .thead tr > th,
section.bank-accounts table.bank-accounts-table .thead tr > th {
    padding: 10px 0;
}

section.funding-sources table.funding-sources-table .thead tr > th:not(:last-child),
section.bank-accounts table.bank-accounts-table .thead tr > th:not(:last-child) {
    border-right: 1px solid #e1dddd;
}

section.funding-sources table.funding-sources-table .funding-add-btn,
section.funding-sources table.funding-sources-table .funding-remove-btn {
    visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
    left: -9999px;
}

section.bank-accounts table.bank-accounts-table .edit-icon-wrapper a,
section.bank-accounts table.bank-accounts-table .delete-icon-wrapper a {
    display: block;
    width: 100%;
    height: 100%;
}

section.funding-sources table.funding-sources-table .funding-add-btn::before {
    content: "";
    background: url("/images/piggy-bank-plus.png") center center / 38px 38px no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    visibility: visible;
}

section.funding-sources table.funding-sources-table .funding-remove-btn::before {
    content: "";
    background: url("/images/piggy-bank-minus.png") center center / 38px 38px no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    visibility: visible;
}

section.funding-sources span.no-sources {
    display: block;
    margin-top: 1em;
}

.investor-settings-container .container-header .wrapper a {
    color: #00e;
    text-decoration: underline;
    margin-top: 2.5px;
}

.investor-settings-container .container-header .wrapper a:hover {
    text-decoration: none;
}

div.transactions-top-bar,
div.bank-acct-top-bar,
div.funding-src-top-bar {
    float: none;
}

section.transactions {
   min-height: 750px !important;
}

section.transactions .transactions-table .thead {
    padding: 0;
    border-bottom: 1px solid #dedede;
}

section.transactions .transactions-table .thead tr th {
    padding: 10px 0;
}

section.transactions .transactions-table .thead tr th:not(:last-child) {
    border-right: 1px solid #dedede;
}

section.transactions .transactions-table th.col-1,
section.transactions .transactions-table td.col-1 {
    width: 40%;
}

section.transactions .transactions-table th.col-2,
section.transactions .transactions-table th.col-3,
section.transactions .transactions-table th.col-4,
section.transactions .transactions-table td.col-2,
section.transactions .transactions-table td.col-3,
section.transactions .transactions-table td.col-4 {
    width: 20%;
}

section.transactions .transactions-table tr td {
    padding: 15px 0;
}

section.transactions .transactions-table tr td:first-child {
    padding-left: 15px;
}

section.transactions .transactions-table td.col-2,
section.transactions .transactions-table td.col-3,
section.transactions .transactions-table td.col-4 {
    text-align: center;
}

section.transactions .transactions-table td.col-3 {
    text-transform: capitalize;
}

section.transactions ul.pagination {
    margin-top: 10px;
}

section.transactions ul.pagination li {
    display: inline-block;
}

section.transactions ul.pagination li a {
    color: #5c5b5b;
}

section.transactions ul.pagination li:not(:last-child) {
    margin-right: 2px;
}

section.transactions ul.pagination li.disabled {
    background-color: transparent !important;
    color: #989494;
}

section.transactions ul.pagination li.active {
    color: #989494;
}

section.transactions ul.pagination li.disabled:hover {
    color: #989494 !important;
}

section.transactions ul.pagination li.disabled:focus {
    outline: 0;
    color: #989494 !important;
}

section.transactions ul.pagination li.disabled span:focus {
    outline: 0;
}

section.full-page.fullpage.bank-acct {
    min-height: 1000px;
}

section.bank-acct .full-pg-content-container.top-padding {
    padding-top: 1em;
}

section.bank-acct .breadcrumb-wrapper {
    float: none;
    position: static;
}

section.bank-acct h1.h1-border {
    margin-top: 0.5em;
}

section.bank-acct .setting-form.medium {
    width: 100%;
    margin: 1em 0 0;
}

section.bank-acct #project_accounting_details > p {
    margin-top: 0;
}

section.bank-acct #project_accounting_details > .button-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}

section.bank-acct #project_accounting_details #link-btn-container {
    margin-left: 0;
}

section.bank-acct #project_accounting_details #link-btn.disabled {
    pointer-events: none;
}

section.bank-acct #project_address > p {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

section.bank-acct #project_accounting_details .form-section {
    float: none;
    min-height: 40px;
    overflow: hidden;
}

section.bank-acct #project_accounting_details .form-section:not(:last-child) {
    margin-bottom: 10px;
}

section.bank-acct #project_accounting_details .form-section .label-wrapper span.label-name {
    float: none;
    display: block;
}

section.bank-acct #project_accounting_details .form-section .label-wrapper.half {
    float: none;
}

section.bank-acct #project_accounting_details #project_city_state_zip .label-wrapper.half {
    float: left;
}

section.bank-acct #project_accounting_details .form-section .label-wrapper:not(:last-child) {
    margin-bottom: 10px;
}

section.bank-acct #project_accounting_details #project_city_state_zip .label-wrapper {
    margin-bottom: 0;
}

section.bank-acct #project_accounting_details #project_city_state_zip .label-wrapper:first-child {
    margin-right: 3%;
}

section.bank-acct #project_accounting_details #project_city_state_zip .label-wrapper:last-child {
    margin-left: 3%;
}

section.bank-acct #project_accounting_details .form-section .label-wrapper input,
section.bank-acct #project_accounting_details .form-section .label-wrapper select {
    float: none;
    margin-bottom: 0;
    display: block;
}

section.bank-acct #project_accounting_details > div.button-wrapper div.label-wrapper {
    float: none;
}

section.bank-acct #project_accounting_details #accountType {
    text-transform: capitalize;
}

section.bank-acct #bank-acct-form > .comm-form {
    float: none;
}

section.bank-acct #bank-acct-form > .comm-form div.button-wrapper button {
    margin-left: 0;
}

section.funding-source .full-pg-content-container.top-padding {
    padding-top: 0;
}

section.funding-source .breadcrumb-wrapper {
    float: none;
    position: static;
    margin: 2em 0 1em;
}

section.funding-source .breadcrumb-wrapper .breadcrumbs {
    margin: 0;
}

section.funding-source .funding-src-status {
    display: block;
    margin-top: 0.5em;
    text-transform: capitalize;
}

section.funding-source div.community-tab-content-wrapper > p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 0.5em;
}

section.funding-source .setting-form {
    margin: 1em 0 1.5em;
}

section.funding-source .setting-form.medium {
    width: 100%;
}

section.funding-source #funding-source-info > div,
section.funding-source #amount-info > div {
    width: 50%;
}

section.funding-source .rborder {
    border-right: 1px solid #dedede;
}

section.funding-source .pr16 {
    padding-right: 16px;
}

section.funding-source .pl16 {
    padding-left: 16px;
}

section.funding-source .pr25 {
    padding-right: 25px;
}

section.funding-source .pl25 {
    padding-left: 25px;
}

section.funding-source #funding-source-info > div h2 {
    text-align: center;
    border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section.funding-source #funding-source-info .label-wrapper:not(:last-child) {
    margin-bottom: 10px;
}

section.funding-source #funding-source-info .label-wrapper > span.label-name,
section.funding-source #amount-info .label-wrapper > span.label-name {
    float: none;
    display: block;
}

section.funding-source #funding-source-info .label-wrapper > input,
section.funding-source #amount-info .label-wrapper > input {
    float: none;
    margin-bottom: 0;
    display: block;
    line-height: 18px;
}

section.funding-source #funding-source-info .label-wrapper > select {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;
}

section.funding-source #funding-source-info .label-wrapper > select:disabled {
    color: #000;
}

section.funding-source #funding-source-info .label-wrapper > label.validation-error-msg,
section.funding-source #amount-info .label-wrapper > label.validation-error-msg {
    float: none;
    display: block;
    margin: 2px 0 0;
    font-size: 15px;
    line-height: 19px;
}

section.funding-source #funding-source-info .validation-error::before,
section.funding-source #amount-info .validation-error::before {
    padding-right: 0.5em;
}

section.funding-source #funding-source-info select.input-validation-error {
    border-color: #e40000 !important;
    color: #e40000;
}

section.funding-source #funding-source-info .validation-error-msg[type="text"],
section.funding-source #amount-info .validation-error-msg[type="text"],
section.funding-source #funding-source-info select.validation-error-msg {
    padding: 10px;
    margin: 0;
}

section.funding-source #funding-source-info select.validation-error-msg {
    float: none;
}

section.funding-source div.button-wrapper {
    padding-top: 1em;
    border-top: 1px solid #dedede;
}

section.funding-source div.button-wrapper div.label-wrapper {
    width: 200px;
}

section.funding-source button.btn {
    padding: 9px;
    display: block;
    margin: 0 !important;
    width: 100%;
    color: #fff;
}

section.funding-source div.button-wrapper div.label-wrapper:focus,
section.funding-source button:focus {
    outline: 0;
}

section.funding-source button.btn-danger {
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

section.funding-source button.btn-danger:hover {
    background-color: #c82333;
    border: 1px solid #bd2130;
}

section.funding-source button.btn-danger:active {
    background-color: #bd2130;
    border: 1px solid #b21f2d;
}

section.funding-source button.btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
}

section.funding-source button.btn-primary:hover {
    background-color: #0069d9;
    border: 1px solid #0062cc;
}

section.funding-source button.btn-primary:active {
    background-color: #0062cc;
    border: 1px solid #005cbf;
}

section.funding-source button.btn-success {
    background-color: #28a745;
    border: 1px solid #28a745;
}

section.funding-source button.btn-success:hover {
    background-color: #218838;
    border: 1px solid #1e7e34;
}

section.funding-source button.btn-success:active {
    background-color: #1e7e34;
    border: 1px solid #1c7430;
}
